<div id="<%= dom_id consultation %>">
  <p>
    <strong>Status:</strong>
    <%= consultation.status %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= consultation.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= consultation.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= consultation.email %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= consultation.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= consultation.end_at %>
  </p>

</div>
