<tr id="<%= dom_id consultation %>">
  <td class="border border-sky-700 bg-white text-left p-4">
    <%= form_with(model: consultation, method: :patch) do |form| %>
      <%= form.select :status, options_for_select(Consultation.statuses.map { |key, value| [key.capitalize, key] }, form.object.status), {}, {class: input_class, onchange: "this.form.submit()"} %>
    <% end %>
  </td>
  <td class="border border-sky-700 bg-white text-left p-4">
    <%= consultation.name %>
  </td>
  <td class="border border-sky-700 bg-white text-left p-4">
    <%= consultation.email %>
  </td>
  <td class="border border-sky-700 bg-white text-left p-4">
    <%= consultation.start_at.strftime("%b %e, %Y at %l:%M %p") %>
  </td>
  <td class="border border-sky-700 bg-white text-left p-4">
    <%= consultation.end_at.strftime("%b %e, %Y at %l:%M %p") %>
  </td>
  <td class="border border-sky-700 bg-white text-left p-4">
    <%= consultation.consultation_type.name %>
  </td>
  <td class="border border-sky-700 bg-white text-left p-4">
    <%= consultation.consultation_type.payment_required? ? "Yes" : "No" %>
  </td>
  <td class="border border-sky-700 bg-white text-left p-4">
    <%= consultation.customer_paid? ? "Yes" : "No" %>
  </td>
  <td class="border border-sky-700 bg-white text-left p-4">
    <%= link_to 'View consultation', consultation_path(consultation.id) %>
  </td>
</tr>
