<%= form_with(model: consultation) do |form| %>
<% if consultation.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(consultation.errors.count, "error") %> prohibited this consultation from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% consultation.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
    <%= form.label :name, class: label_class %>
    <%= form.text_field :name, class: input_class %>
  </div>

  <div class="mb-6">
    <%= form.label :email, class: label_class %>
    <%= form.text_field :email, class: input_class %>
  </div>

    <div class="mb-6">
    <%= form.label :notes, class: label_class %>
    <%= form.text_area :notes, class: input_class %>
  </div>

  <div class="grid grid-cols-2 gap-6 mb-6">
    <div>
      <%= form.label :start_at, class: label_class %>
      <%= form.datetime_field :start_at, class: input_class %>
    </div>


    <div>
      <%= form.label :end_at, class: label_class %>
      <%= form.datetime_field :end_at, class: input_class %>
    </div>
  </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if consultation.persisted? %>
<%= link_to "Cancel", consultation, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", consultations_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
