<nav class="flex flex-wrap items-center justify-between py-3 text-gray-700 bg-white container mx-auto px-4 <%= nav_classes %>" data-controller="nav">
  <div class="flex items-center mr-6 flex-no-shrink">
    <%= link_to root_path, class:"link text-xl tracking-tight font-black" do %>
      <h1 class="font-black text-3xl">First<span class="font-black text-3xl text-sky-800">Class</span></h1>
    <% end %>
  </div>
  <div class="block lg:hidden">
    <%# Mobile nav toggle %>
    <button class="flex items-center p-2 -mr-1 rounded-lg focus:bg-gray-100" data-action="click->nav#toggleMenu touch->nav#toggleMenu">
      <svg class="stroke-current text-gray-500 w-7 h-7" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>Menu</title><g fill="none"><path d="M4 6h16M4 12h8m-8 6h16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>
    </button>
  </div>
  <div class="items-center w-full text-center lg:flex-1 lg:flex lg:text-left pt-2 lg:pt-0 hidden" data-nav-target="menu">
    <div class="items-center block w-full mt-2 text-center lg:flex lg:flex-row lg:flex-1 lg:mt-0 lg:text-left lg:justify-end">
      <div><%# More links can go here %></div>
      <% if user_signed_in? %>
        <%= link_to "Edit account", edit_user_registration_path, class: "p-3 hover:bg-sky-700 hover:text-white transition ease duration-300 rounded-lg text-center focus:bg-gray-100 lg:inline-block block" %>
        <%= button_to destroy_user_session_path, method: :delete, class:"p-3 hover:bg-sky-700 hover:text-white transition ease duration-300 rounded-lg text-center focus:bg-gray-100 lg:inline-block block" do %>
          <svg class="w-6 h-6 fill-gray-700" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path></svg>
        <% end %>
      <% else %>
		    <%= link_to "Log in", new_user_session_path, class:"transition-all px-8 py-3 text-white bg-sky-300 hover:bg-sky-700 focus:outline-none focus:ring-4 focus:ring-sky-300 font-bold rounded-full text-base text-center mb-2 dark:bg-sky-500 dark:hover:bg-sky-700 dark:focus:ring-sky-900" %>
      <% end %>
    </div>
  </div>
</nav>
