<div id="<%= dom_id consultation_type %>">
  <p>
    <strong>Name:</strong>
    <%= consultation_type.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= consultation_type.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= consultation_type.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= consultation_type.color %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= consultation_type.duration %>
  </p>

  <p>
    <strong>Payment required:</strong>
    <%= consultation_type.payment_required %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= consultation_type.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= consultation_type.user_id %>
  </p>

</div>
